version: 2
jobs:
  build:
    docker:
      - image: aergus/latex
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: build_rapport
          command: |
            cd ./rapport
            latexmk -halt-on-error -pdf -synctex=1 ./rapport.tex
            cd ..
      - store_artifacts:
          path: ./rapport/rapport.pdf
      - store_artifacts:
          path: ./rapport/rapport.log
      - deploy:
          - command: |
                scp ./rapport/rapport.pdf "$SSH_USER@$SSH_HOST:$DEPLOYMENT_PATH/${CIRCLE_BRANCH}.pdf"